@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
/* ============================================= */
/*              Variable                       */
/* ============================================= */

/*              Colours                       */
$breakPoint:1024px;
$max-width: 1024px;
$primary-border: 1px solid rgb(202, 189, 189);
/*              Fonts                       */

$font: (
  "color-primary": rgb(54, 50, 50),
  "line-height-primary": 1.45em,
  "weight-thin": 300,
  "weight-regular": 400,
  "weight-bold": 700,
  "family-primary": (
    "Open Sans",
    sans-serif,
  ),
);
$breakpoints: (
  "xxs":300px,
  "xs": 481px,
  "s": 768px,
  "m": 1024px,
); // I've used a map aprouch instead to a simple variable to be a lot more easy to add other breakpoints if needed

