/* ============================================= */
/*             Containers                  */
/* ============================================= */



input[type="search"] {
   
    flex:1 30%;
    max-width: 300px;
    height: 45px;
    margin:15px auto 15px;
    @include mq("m"){
        margin:0;
    }
    border-radius: 5px;
    border: $primary-border;
    

}