/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: map-get($map: $font, $key: family-primary);
  color: map-get($font, color-primary);
  box-sizing: border-box;
}

body {
  background-color: darken(#fff, 5%);
}
main{
  margin:0 1rem 0;
}

a {
  text-decoration: none;
}

svg {
  width: 25px;
  height: 25px;
}
html {
  scroll-behavior: smooth;
}
h3 {
  margin-left: 10px;
  text-transform: uppercase;
}
